{# 
  kitFramework:Basic

  @author Team phpManufaktur <team@phpmanufaktur.de>
  @link https://kit2.phpmanufaktur.de
  @link https://github.com/phpManufaktur/kitFramework/wiki  
  @copyright 2012 Ralf Hertsch <ralf.hertsch@phpmanufaktur.de>
  @license MIT License (MIT) http://www.opensource.org/licenses/MIT
#}
<div style="border:1px solid #ccc; color:#000; background-color:#fff8dc; margin:20px 0 10px 0; padding:10px; font-size:13px;">
  <div style="">
    {{ help.content|markdown }}
  </div>
  <div style="margin: 20px 0 0 0; padding:0; color:#333; background-color: transparent; font-size: 11px;">
    {% if help.command != 'help' %}<p>{{ 'Use <code>~~ help ~~</code> to view the general help file for the kitCommands.'|trans }}</p>{% endif %}
    {% if help.link|length > 0 %}<p>{{ 'Please <a href="%link%" target="_blank">comment this help</a> to improve the kitCommand <b>%command%</b>.'|trans({'%link%':help.link,'%command%':help.command}) }}</p>{% endif %}    
  </div>
</div>