<p>Hello,</p>
<p>this is a email for testing purposes from the kitFramework at {{ FRAMEWORK_URL }} which will show you that all email settings are correct and working fine. </p>
<p>Regards<br />
  <em>Your kitFramework</em></p>