{% block toolbar %}
  <ul class="toolbar nav nav-tabs">
    {% for item in toolbar %}
      <li{% if item.active %} class="active"{% endif %}>
        <a href="{{ item.link }}" title="{{ item.hint }}">
          {% if item.name == 'about' %}
            <i class="fa fa-question"></i>
          {% elseif item.name == 'overview' %}
            <i class="fa fa-th-list"></i>
          {% elseif item.name == 'sources' %}
            <i class="fa fa-file-code-o"></i>
          {% elseif item.name == 'problems' %}
            <i class="fa fa-bug"></i>
          {% elseif item.name in config.translation.locale|keys %}
            <i class="fa fa-language"></i>
          {% endif %}
          {% if item.name != 'about' %}  
            <span class="visible-lg pull-right">&nbsp;{{ item.text }}</span>  
          {% endif %}
        </a>
      </li>
    {% endfor %}
  </ul>
{% endblock toolbar %}
