{#
  kitFramework

  @author Team phpManufaktur <team@phpmanufaktur.de>
  @link https://kit2.phpmanufaktur.de
  @link https://github.com/phpManufaktur/kitFramework/wiki
  @copyright 2013 Ralf Hertsch <ralf.hertsch@phpmanufaktur.de>
  @license MIT License (MIT) http://www.opensource.org/licenses/MIT
#}
{% if usage|default('framework') == 'framework' %}
  {% set template_file = 'framework/body.twig' %}
{% else %}
  {% set template_file = 'framework/backend.body.twig' %}
{% endif %}
{% extends getTemplateFile('@phpManufaktur/Basic/Template', template_file) %}
{% block title %}{{ 'kitFramework - Access denied'|trans }}{% endblock %}
{% block content %}
  <div class="container">
    <div class="page-header">
      <h1>{{ 'Access denied'|trans }}</h1>
    </div>
    <div class="alert alert-danger">
      <p>{{ 'Sorry, but only Administrators are allowed to access this kitFramework extension.'|trans }}</p>
    </div>
  </div>
{% endblock %}
