.forgot_password_hint {
  float: left;
  padding: 15px 0 0 0;
  text-align: left;
  font-size: 10px;
}
#framework_content {
  background: url('../image/background-key.png') bottom right no-repeat;
}

